#page {
    display: flex;
    flex-wrap: wrap;
}

.main-page {
    width: 100%;
    flex-basis: 0;
    flex-grow: 999;
    padding-left: 20px;
    padding-right: 20px;
}

@media only screen and (max-width: 768px) {
    .side-info {
        display: none;
    }
}