#page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    position: relative;
}

.main-page {
    flex-basis: 0;
    flex-grow: 2;
    flex-shrink: 1;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    max-width: 100%;
    border-left: 1px solid#DFDFDF;
    border-right: 1px solid #DFDFDF;
    min-height: 100vh;
}

@media only screen and (max-width: 1000px) {
    .main-page  {
        max-width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    .side-info {
        display: none;
    }
}


.side-area {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    flex-grow: 1;
}

.required-field::after {
    content: "*";
    color: orangered;
}