#projects {
    width: 100%;
    flex-basis: 0;
    flex-grow: 99;
    border-left: 1px solid#DFDFDF;
    border-right: 1px solid #DFDFDF;
    /*overflow-y: scroll;*/
}

#project-list {
    position: relative;
    display: grid;
    align-items: center;
    width: 100%;
}

.p-toggler {
    display: inline-flex;
    font-size: 2em;
    width: 100%;
}

.toggle {
    display: block; 
    width: 50%;
    padding: 20px 10px 10px 10px;
    user-select: none;
}

.toggle:hover {
    cursor: pointer;
   
} 
