#projects {
    width: 100%;
    flex-basis: 0;
    flex-grow: 999;
}

#project-list {
    margin-top: 20px;
    position: relative;
    display: grid;
    align-items: center;
    width: 100%;
}

.p-toggler {
    display: inline-flex;
    font-size: 2em;
    width: 100%;
}

.toggle {
    display: block; 
    width: 50%;
    padding: 10px 10px 10px 10px;
    user-select: none;
}

.toggle:hover {
    cursor: pointer;
}

.toggled {
    border-bottom: 2px solid royalblue;
}

#first-toggle {
    /*border-right: 2px solid royalblue;*/
}