#projects {
    flex-basis: 0;
    flex-grow: 99;
    border-left: 1px solid#DFDFDF;
    border-right: 1px solid #DFDFDF;
    /*overflow-y: scroll;*/
}

#project-list {
    position: relative;
    display: grid;
    align-items: center;
    width: 100%;
}

.p-toggler {
    display: inline-flex;
    font-size: 2em;
    width: 100%;
}

.toggle {
    flex-grow: 1;
    display: inline-block; 
    padding: 20px 0 10px 0;
    user-select: none;
}

.toggle:hover {
    cursor: pointer;
    color: blue;
    border-bottom: 1px solid darkblue !important;
    transition: border-bottom 2s;
} 

.toggled {
    border-bottom: 1px solid darkblue !important; 
}

.added-tags{
    max-height: 100px;
    margin: 10px 10px;
    overflow-y: scroll;
}

.tag {
    height: 30px;
    width: 100%;
    background-color: whitesmoke;
    border-bottom: 1px solid gainsboro;
}