#notif-bar {
    flex-grow: 1;
    display: flex;
    justify-self: right;
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 350px;
    max-width: 100%;
    position: relative;
}

#inner-notif {
    display: flex;
    position: fixed;
    justify-content: flex-start;
    width: 285px;
    height: 97%;
}

@media only screen and (max-width: 1000px) {
    #notif-bar {
        display: none;
    }
}

#notification-center {
    height: 98%;
    margin-left: 16px;
    margin-bottom: 20px;
}

.notification {
    padding: 4px 4px 4px 4px;
    text-align: left;
    border-top: 1px solid whitesmoke;
}

.notif-toggler {
    font-size: 1.2em;
    display: inline-flex;
}