.project-card {
    text-align: left;
    min-width: 100% !important;
    /*width: max-content;*/
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 20vw !important;
}

.die {
    word-wrap: break-word;
    text-overflow: clip;
    overflow: hidden;
}

.button-holder {
    width: 100%;
    position: relative;
}

.go-to {
    float: right;
}

.pfp {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    object-fit: cover;
}

.username {
    margin-left: 5px;
}

.profile-header {
    display: inline-flex;
    flex-wrap: wrap;
}
