#side-bar {
    height: 100%;
    text-align: left;
    z-index: 1;
    overflow-x: hidden;
    color: white;
    padding: 0 16px;
    flex-grow: 1;
    display: flex;
    position: fixed;
}

#inner-side {
    display: flex;
    position: relative;

    justify-content: flex-end;
}
#side-area {
    display: flex;
    align-items: flex-end;
    position: relative;
    flex-grow: 1;
    flex-direction: column;
    /*width: 20vw !important;*/
}

@media only screen and (max-width: 768px) {
    #side-bar {
        width: 70px;
    }
}


.options {
    margin-top: 20px;
}

.options > .item {
    font-size: 1.5em;
    padding: 10px 10px 10px 10px;
    text-align: left;
    border: none;
    border-radius: 9999;
    display: inline-flex;
}

.sidebar-icon {
    padding-right: 10px;
}

.list-group {
    outline: none;
    border: none;
    border-radius: 9999;
}

.logo {
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
}
.questionable-stuff{
    /*width: 20vw !important;*/
}

.disappear {
    display: none;
}