#side-bar {
    width: 300px;
    height: 100vh;
    text-align: left;
    z-index: 1;
    background-color: #111;
    overflow-x: hidden;
    color: white;
    padding-top: 16px;
    padding-left: 16px;
    flex-grow: 1;
}