.writer-info {
    padding: 0 20px;
    text-align: left;
}

#proj-title {
    font-size: 1.5rem;
    font-weight: bold;
}

#description {
    word-wrap: break-word;
}

#blank-box {
    height: 100px;
}

#editors {
    font-size: 1.3rem;
    font-weight: bold;
}

.editor {
    padding: 5px;
}

.editor:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.editor > a, .editor > a:hover{
    color: inherit;
    text-decoration: inherit;
}